<div th:fragment="navigationFragment"
     xmlns:th="http://www.thymeleaf.org">
    <!-- Navigation -->
    <div class="nav-section">
        <div class="nav-divider"></div>
        <div class="tab-list">
            <div class="tab active">
                <a th:href="@{/products}" style="text-decoration: none; color: inherit;">
                    <span class="tab-text">모든 제품</span>
                </a>
            </div>
            <div class="tab">
                <span class="tab-text">공간별 쇼핑하기</span>
            </div>
            <div class="tab">
                <span class="tab-text">특별한 가격</span>
            </div>
            <div class="tab">
                <span class="tab-text">새로운 소식</span>
            </div>
            <div class="tab">
                <span class="tab-text">아이디어</span>
            </div>
            <div class="tab">
                <span class="tab-text">플래닝 & 스타일링 서비스</span>
            </div>
            <div class="tab">
                <span class="tab-text">더 보기</span>
            </div>
        </div>
    </div>
</div>
